.circuloVerde::before {
    padding: 0;
    margin: 0 5px 0 0;
    vertical-align: -8%;
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #28a745;
}

.circuloVerde {
    color: #28a745;
}

.circuloVermelho::before {
    padding: 0;
    margin: 0 5px 0 0;
    vertical-align: -8%;
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #dc3545;
}

.circuloVermelho {
    color: #dc3545;
}